Spartan3E_StarterKit/elficpu2/CPU_2.cmd_log
Spartan3E_StarterKit/elficpu2/CPU_2.lso
Spartan3E_StarterKit/elficpu2/CPU_2.ngc
Spartan3E_StarterKit/elficpu2/CPU_2.ngr
Spartan3E_StarterKit/elficpu2/CPU_2.prj
Spartan3E_StarterKit/elficpu2/CPU_2.stx
Spartan3E_StarterKit/elficpu2/CPU_2.syr
Spartan3E_StarterKit/elficpu2/CPU_2.xst
Spartan3E_StarterKit/elficpu2/CPU_2_summary.html
Spartan3E_StarterKit/elficpu2/CPU_2_vhdl.prj
Spartan3E_StarterKit/elficpu2/CPU_2_xst.xrpt
Spartan3E_StarterKit/elficpu2/_xmsgs/
Spartan3E_StarterKit/elficpu2/iseconfig/
Spartan3E_StarterKit/elficpu2/webtalk_pn.xml
Spartan3E_StarterKit/elficpu2/xst/
